<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="/static/CSS/switcher.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/radio.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/alert.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/input.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/context menu.css" rel="stylesheet" type="text/css">
    <link href="/static/CSS/font.css" rel="stylesheet" type="text/css">
</head>
<script src="/static/js/alert.js"></script>
<script src="/static/js/click.js"></script>
<script src="/static/js/input.js"></script>
<!-- <script src="/static/js/overlay.js"></script> -->
<!-- <script src="/static/js/tabs.js"></script> -->
<body>
{% block body %}{% endblock %}
</body>
