{% extends 'base.html' %}

{% block title %}
{% if error == 429 %}
    error 429
{% else %}
    error 404
{% endif %}
{% endblock %}

{% block body %}
<div class="page secondary_bg">
    <div class="big-header">
        <img src="static/img/error.png">
        <div class="big-header-title label headline6">
            {% if error == 429 %}
                Слишком много запросов
            {% else %}
                404 Страница не найдена
            {% endif %}
        </div>

        <div class="label body1">
            {% if error == 429 %}
                С вашего IP поступает слишком много запросов на сервер. Пожалуйста, подождите! Лимит — 10 запросов в час.
            {% else %}
                Страница не найдена, переключитесь на другую
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}